$color-background: rgb(233, 233, 233);

.header {
  padding: 2rem 1rem;
  background-color: #83c0fa;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  img {
    width: 40px;
  }

  &-appName {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-title {
    flex: 7;
    display: flex;
    justify-content: center;
    margin-right: 1.6rem;
  }
}
