@import "../_variables/index.scss";

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;

  &-content {
    font-size: 1rem;
    &-back {
      margin-bottom: 3rem;
      display: flex;
      justify-content: flex-end;
      button {
        width: 7rem;
      }

      &-button {
        display: flex;
        justify-content: space-around;
        align-items: center;

        svg {
          font-size: 1.5rem;
          margin-left: 5px;
        }
      }
    }

    &-title {
      border-bottom: 1px solid $color-grey;
      margin-bottom: 1rem;
      width: 50rem;
    }

    &-error {
      color: red;
      margin-top: 1rem;
    }

    &-add {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      form {
        display: flex;
        align-content: flex-end;
      }
      input {
        width: 48rem;
        border-radius: 5px;
        outline: none;
        padding: 1rem 1rem;
        font-size: 1rem;
        border: 1px solid $color-black;

        &:focus {
          border: 1.5px solid $color-primary;
        }
      }

      &-button {
        margin: auto;
        height: 3rem;
        width: 10rem;
      }
    }

    &-remove {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      &-content {
        display: flex;
        ul {
          border: 1px solid #181818;
          border-radius: 5px;
          width: 50rem;
          box-shadow: 0 5px 5px rgba($color-black, 0.1);
          max-height: 260px;
          li {
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
              background-color: $color-primary;
            }

            .city-item {
              padding: 1rem;
            }
            .city-selected {
              background-color: $color-primary;
            }
          }
        }
        button {
          margin: auto;
          height: 3rem;
          width: 10rem;
        }
      }
    }
  }
}

.add-scroll {
  overflow-y: scroll;
}
