@import "./_variables/index.scss";

body {
  margin: 0;
  padding: 3rem;
  font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 65%;
  box-sizing: border-box;
  background-color: white;

  * {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }

  input {
    box-shadow: 0 5px 5px rgba($color-black, 0.1);
  }

  button {
    cursor: pointer;
    outline: none;
    margin: auto;
    height: 3rem;
    width: 10rem;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    // transition: all 0.3s ease;
    font-size: 1rem;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      outline: none;
      animation: moveInBottom 0.2s;
    }
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}
